<div class="mb-4">
  <label for="{{name}}" class="{{cls || 'block font-medium text-dark text-custom-sm mb-3'}}">{{label}}</label>
  <input type="{{type || 'text'}}" name="{{name}}" id="{{name}}" placeholder="Enter your {{label}}"
    class="{{cls || 'rounded-md border border-gray-4 bg-white focus:border-gray-7 placeholder:text-dark-2 w-full py-2 px-6 outline-none duration-200 focus:shadow-input focus:ring-2 focus:ring-dark-4/20 focus:border-transparent'}}" />
</div>
