<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{{ asset('images/favicon.ico') }}">
  {{-- <link href="{{ asset('styles/style.css') }}" rel="stylesheet"> --}}
  <title>{{ title || 'MANSA BLOG'}}</title>
  @vite(['resources/css/style.css', 'resources/js/bundle.js'])
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

  {{-- @vite(['resources/css/app.css', 'resources/js/app.js']) --}}

</head>

<body
  x-data="{ page: 'home', 'loaded': true, 'modalNewsletter': false, 'modalLogin': false, 'modalSearch': false, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }"
  >

  <div x-show="loaded"
    x-init="window.addEventListener('DOMContentLoaded', () => {setTimeout(() => loaded = false, 500)})"
    class="fixed left-0 top-0 z-999999 flex h-screen w-screen items-center justify-center bg-white">
    <div class="h-16 w-16 animate-spin rounded-full border-4 border-solid border-primary border-t-transparent"></div>
  </div>

  @include('partials/Navbar')
  @include('partials/Flash')
